{% extends "layout.html" %}

{% block content %}
{% from "cosmetics/landing-page/sidebar.html" import sidebar %}
{% from "dataWithDefault.html" import dataWithDefault %}
<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    {{ sidebar({
      pageId: 'cosmetics-notified-before-eu-exit'
    })}}
  </div>
  <div class="govuk-grid-column-three-quarters">
    <h1 class="govuk-heading-xl">
      Take responsibility for cosmetic products on sale before Brexit
    </h1>

    <p>
      {{ dataWithDefault({
        value: data['responsible-person-name'],
        default: 'Example responsible person'
      })}}
      can continue to sell or give away cosmetics notified before Brexit by taking responsibility for those cosmetic products in the UK.
    </p>

    <a href="/cosmetics/import/check-access-to-file" role="button" draggable="false" class="govuk-button govuk-!-margin-top-4">
      Take responsibility for cosmetic products
    </a>

  </div>
</div>

{% endblock %}
