{% extends "layout.html" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}
{% from "cosmetics/landing-page/sidebar.html" import sidebar %}
    <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-quarter">
                    {{ sidebar({
                        pageId: 'cosmetics-notified-before-eu-exit'
                    })}}
            </div>
        <div class="govuk-grid-column-three-quarters">
            <h1 class="govuk-heading-xl">Cosmetics notified before EU exit</h1>

            <p>
                If a cosmetic was notified to the European Commission before the UK left the European Union, it can only continue to be sold in the UK if information about a new UK-based Responsible Person and the cosmetic formulation is provided by 29 May 2019.
            </p>

            {% if data['EU-RP-has-confirmed'] == 'true' %}
            <p>
                <a href="/cosmetics/check-details-bulk" class="govuk-!-font-weight-bold govuk-link--no-visited-state">
                    View cosmetics ready to be confirmed
                </a>
            </p>
            <p>
                You have 108 ready to be confirmed
            </p>
            {% endif %}

            <h2 class="govuk-heading-l">Take responsibility for already notified cosmetics</h2>
            <p>
                You can take responsibility for cosmetics notified to the EU by getting permission from the EU responsible person or submitting details of the cosmetics.
            </p>
            
            <h3 class="govuk-heading-m">Get permission from the EU Responsible Person</h1>
            <p>
                To get permission, enter the email address of the EU Responsible Person you want to take responsibility of the products for, once they have accepted, confirm your responsibility.
            </p>
            <p>
                <a href="/cosmetics/claim-existing/which-responsible-person" class="govuk-!-font-weight-bold govuk-link--no-visited-state">Request permission for products previously notified to the EU</a>
            </p>

            <h3 class="govuk-heading-m">Upload CPNP product files</h1>
            <p>
                To notify using a CPNP product files you need to:
                <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-7">
                    <li><a href="#">Read instructions on how to export the correct CPNP files</a></li>
                    <li>Export each file from CPNP</li>
                    <li>Upload the files</li>
                    <li>Add formulation documents for all the cosmetics that have either the exact formulation or formulation ranges</li>
                    <li>Confirm your responsibility</li>
                </ul>
            </p>
            <p>
                <a href="/cosmetics/import/upload-cpnp-file" class="govuk-!-font-weight-bold govuk-link--no-visited-state">Upload CPNP product files</a>
            </p>

            <h3 class="govuk-heading-m">Notify each cosmetic manually</h1>
            <p>
                You can notify each product in a similar process to using CPNP.
            </p>
            <p>
                <a href="/cosmetics/manual/product-name" class="govuk-!-font-weight-bold govuk-link--no-visited-state">Notify a cosmetic</a>
            </p>
        </div>
    </div>
{% endblock %}