{% extends "layout.html" %}

{% block content %}
{% from "cosmetics/landing-page/sidebar.html" import sidebar %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
                {{ sidebar({
                    pageId: 'new-cosmetics'
                })}}
        </div>
        <div class="govuk-grid-column-three-quarters">
            <h1 class="govuk-heading-xl">Cosmetic products</h1>
            <p>
                Cosmetic products can only be sold or given away free in the UK if there is a designated responsible person based in the UK who ensures it complies with relevant regulation and notifies details of the cosmetic product to the government.
            </p>

            <a href="/cosmetics/import/cpnp-export-upload" role="button" draggable="false" class="govuk-button govuk-!-margin-top-4">
              Submit cosmetic product notifications
            </a>
        </div>
    </div>
{% endblock %}
