{% extends "layout.html" %}
{% from "dataWithDefault.html" import dataWithDefault %}

{% block header %}

{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
{{ govukHeader({
  homepageUrl: "/",
  serviceName: serviceName,
  serviceUrl: "/cosmetics",
  containerClasses: "govuk-width-container"
}) }}
{% from "phase-banner/macro.njk" import govukPhaseBanner %}
<div class="govuk-width-container">  
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">
      <div class='nav govuk-!-padding-top-2'>
        {% from "dataWithDefault.html" import dataWithDefault %}
        <h4 class='govuk-heading-s'>
          {{ dataWithDefault({
            value: data['responsible-person-name'],
            default: 'Example responsible person'
          })}}
        </h4>
        <p></p>
        <span class='nav-menu'>
          {% from "cosmetics/landing-page/sidebar.html" import sidebar %}
          {{ sidebar({
            pageId: 'notified-cosmetics'
          })}}
        </span>
      </div>
    </div>
  </div>
</div>
{% endblock %}

{% block content %}
{% from "cosmetics/landing-page/sidebar.html" import sidebar %}
<div class="govuk-grid-row">
  {% if data['cpnp-upload'] and (data['refresh-count'] < 2) %}
  <div class='govuk-grid-column-full'>
    <div class="govuk-error-summary not-error-override" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
      <h2 class="govuk-error-summary__title" id="error-summary-title">
        <span class='active'></span> Checking {{ data['cpnp-upload'] | length }} notification files
      </h2>
      <div class="govuk-error-summary__body">
        {# <ul class="govuk-list">
          <a href="/cosmetics/landing-page/notified-cosmetics" class='govuk-link--no-visited-state'>
            Refresh the browser</a>
          to see uploaded products.
        </ul> #}
        <meta http-equiv="refresh" content="2" />
      </div>
    </div>
  </div>
  {% endif %}


  {% if data['product-registered'] %}
  <div class='govuk-grid-column-full'>
    <div class="govuk-error-summary success-override" aria-labelledby="error-summary-title" role="alert" tabindex="-1" data-module="error-summary">
      <h2 class="govuk-error-summary__title" id="error-summary-title">
       {{ data['product-registered'] }} registered
      </h2>
      {# <div class="govuk-error-summary__body">
        <ul class="govuk-list">
          <a href="/cosmetics/landing-page/notified-cosmetics" class='govuk-link--no-visited-state'>
            Refresh the browser</a>
          to see uploaded products.
        </ul>
      </div> #}
    </div>
  </div>
  {% endif %}

  <div class="govuk-grid-column-two-thirds">
    <h1 class="govuk-heading-xl">Your cosmetic products</h1>
  </div>
  <div class="govuk-grid-column-two-thirds">
    {% if not data['cpnp-upload'] %}
    <p>
      <strong>
        {{ dataWithDefault({
          value: data['responsible-person-name'],
          default: 'Example responsible person'
        })}}
      </strong> has no cosmetic products registered in the UK.
    </p>
    <p>
      All cosmetic products intended for sale or given away in the UK must be registered in the UK.
    </p>
    <p>
        To continue to sell or give away cosmetic products that were notified to the European Union (EU) before <span class='no-wrap'>29 March 2019</span>, you must register your products in the UK within 90 days of the UK leaving the EU – that is <span class='no-wrap'>11:00pm on 27 June 2019</span>.
    </p>
    <p>
      You do not have to register cosmetic products discontinued before <span class='no-wrap'>29 March 2019</span>.
    </p>
    {% endif %}
  </div>
  <div class="govuk-grid-column-two-thirds">
    <a href="/cosmetics/which-responsible-person" role="button" draggable="false" class="govuk-button govuk-!-margin-top-4">
      Add cosmetic products
    </a>
  </div>
</div>
{% if data['cpnp-upload'] and (data['refresh-count'] >= 2) %}

{% set errorCosmeticProducts %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-two-thirds govuk-!-margin-bottom-6">
    <h2 class="govuk-heading-l">
      Upload errors
    </h2>
    <p>
      <a href='/cosmetics/import/cpnp-export-upload' class='govuk-link--no-visited-state'>
        Try uploading files again
      </a>
    </p>
  </div>
  <div class='govuk-grid-column-full'>
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">
            File name
          </th>
          <th class="govuk-table__header" scope="col">
            Reason for failure
          </th>
          <th class="govuk-table__header" scope="col">
            Recommended action
          </th>
          <th class="govuk-table__header" scope="col">
          </th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        {% for item in data['error-uploads'] %}
        <tr class="govuk-table__row">
          <td class="govuk-table__cell">
              {{ item['filename'] }}
          </td>
          <td class="govuk-table__cell">
              {{ item['reason'] }}
          </td>
          <td class="govuk-table__cell">
          </td>
          <td class="govuk-table__cell govuk-table__cell--numeric">
            <a href={{ '/cosmetics/dismiss-error/' + item['id'] }} class='govuk-link--no-visited-state'>
              Dismiss
            </a>
          </td>
        </tr>
        {% endfor %}
      </tbody>
    </table>
  </div>
</div>

{% endset -%}


{% set draftCosmeticProducts %} 
<div class="govuk-grid-row">
  <div class="govuk-grid-column-full">
    <h2 class="govuk-heading-l">Incomplete registrations</h2>
    {% for item in data['draft-uploads'] %}
      <div class='product'>
        <h2 class='govuk-heading-m govuk-!-margin-bottom-2'>
          <a href={{ '/cosmetics/incomplete-product/' + item['id'] }} class='govuk-link--no-visited-state'>{{ item['filename'] }}</a>
          {# {{ item['filename'] }} #}
        </h2>
        
          <div class='product-data govuk-body-s'>
              <dt>UK cosmetic product number:</dt>
              <dd>UKCP-{{ item['uk_product_number'] }}</dd>
              <dt>Your reference number:</dt>
              <dd>{{ item['industry_reference_number'] }}</dd>
{#               <dt>First notified in EU:</dt>
              <dd>{{ item['date_notified'] }}</dd>
 #}              <dt>EU reference number:</dt>
              <dd>{{ item['cpnp_reference_number'] }}</dd>
            </div>
        <div class='clearfix'></div>
        <p class='finish-link'>
          <a href={{ '/cosmetics/start-additional-files-upload/' + item['id'] }} class='govuk-link--no-visited-state'>
            Add formulation document to complete registration
          </a>
        </p>
        </div>
    {% endfor %}
  </div>
</div>
{% endset -%}

      {% set registeredCosmeticProducts %}
      <h2 class="govuk-heading-l">Registered cosmetic products</h2>
            {% for item in data['completed-uploads'] %}
            <div class='product'>
        <h2 class='govuk-heading-m govuk-!-margin-bottom-2'>
          <a href='#' class='govuk-link--no-visited-state'>{{ item['filename'] }}</a>
          {# {{ item['filename'] }} #}
        </h2>
        
          <div class='product-data govuk-body-s'>
              <dt>First registered in the UK:</dt>
              <dd>23/01/2019</dd>
              <dt>Last modified:</dt>
              <dd>23/01/2019</dd>
              <dt>UK cosmetic product number:</dt>
              <dd>UKCP-{{ item['uk_product_number'] }}</dd>
              <dt>Your reference number:</dt>
              <dd>{{ item['industry_reference_number'] }}</dd>
{#               <dt>First notified in EU:</dt>
              <dd>{{ item['date_notified'] }}</dd>
 #}              <dt>EU reference number:</dt>
              <dd>{{ item['cpnp_reference_number'] }}</dd>
            </div>
        </div>
              {% endfor %}
      {% endset -%}

      {{ govukTabs({
        items: [
        {
          label: "Errors",
          id: "error-cosmetic-products",
          panel: {
          html: errorCosmeticProducts
        }
      },
        {
          label: "Incomplete",
          id: "draft-cosmetic-products",
          panel: {
          html: draftCosmeticProducts
        }
      },
      {
        label: "Registered",
        id: "registered-cosmetic-products",
        panel: {
        html: registeredCosmeticProducts
      }
    }
    ]
  }) }}
  {% endif %}
</div>
</div>
{% endblock %}
