{% extends "layout.html" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
            <a 
                href="#" 
                class="govuk-link--no-visited-state govuk-heading-s govuk-!-font-weight-regular"
                style="text-decoration: none;"
            >
                Cosmetics notified before EU Exit
            </a>
            <a 
                href="#" 
                class="govuk-link--no-visited-state govuk-heading-s govuk-!-font-weight-regular"
                style="text-decoration: none;"
            >
                New cosmetics
            </a>
            <a 
                href="#" 
                class="govuk-link--no-visited-state govuk-heading-s govuk-!-font-weight-bold"
                style="text-decoration: none;"
            >
                Notified cosmetics
            </a>
            <a 
                href="#" 
                class="govuk-link--no-visited-state govuk-heading-s govuk-!-font-weight-regular"
                style="text-decoration: none;"
            >
                Responsible Person
            </a>
            <a 
                href="#" 
                class="govuk-link--no-visited-state govuk-heading-s govuk-!-font-weight-regular"
                style="text-decoration: none;"
            >
                Emergency contact
            </a>
            <a 
                href="#" 
                class="govuk-link--no-visited-state govuk-heading-s govuk-!-font-weight-regular"
                style="text-decoration: none;"
            >
                Team members
            </a>
        </div>
        <div class="govuk-grid-column-three-quarters">
            <h1 class="govuk-heading-xl">Notified cosmetics</h1>
            <p>
                No cosmetics notified.
            </p>
        </div>
    </div>
{% endblock %}