{% macro sidebar(options) %}

{% set pages = [
    {
        title: 'Cosmetics products',
        url: '/cosmetics/landing-page/notified-cosmetics',
        id: 'notified-cosmetics'
    },
    {
        title: 'Responsible person details',
        url: '/cosmetics/landing-page/responsible-person',
        id: 'responsible-person'
    },
    {
        title: 'Team members',
        url: '/cosmetics/landing-page/team-members',
        id: 'team-members'
    }
    ] 
%}

{% for page in pages %}
<a 
    href={{page.url}} 
    class="{{'sidebar-link-selected' if options.pageId === page.id else 'sidebar-link'}}"
>
    {{ page.title }}
</a>
{% endfor %}

{% endmacro %}
