{% extends "layout.html" %}
{% from "dataWithDefault.html" import dataWithDefault %}

{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
  {{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: "/cosmetics",
    containerClasses: "govuk-width-container"
  }) }}
  {% from "phase-banner/macro.njk" import govukPhaseBanner %}
  <div class="govuk-width-container">  
    <div class="govuk-grid-row">
      <div class="govuk-grid-column-full">
        <div class='nav govuk-!-padding-top-2'>
          {% from "dataWithDefault.html" import dataWithDefault %}
         <h4 class='govuk-heading-s'>
            {{ dataWithDefault({
                    value: data['responsible-person-name'],
                    default: 'Example responsible person'
                })}}
          </h4>
          <p></p>
          <span class='nav-menu'>
            {% from "cosmetics/landing-page/sidebar.html" import sidebar %}
            {{ sidebar({
                        pageId: 'team-members'
                    })}}
          </span>
        </div>
      </div>
    </div>
  </div>
{% endblock %}

{% block content %}
{% from "cosmetics/landing-page/sidebar.html" import sidebar %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-three-quarters">
            <h1 class="govuk-heading-xl">Team members</h1>
            {% from "dataWithDefault.html" import dataWithDefault %}
            <a href="#" role="button" draggable="false" class="govuk-button govuk-!-margin-top-4">
              Invite a colleague
            </a>
        </div>
        <div class='govuk-grid-column-full'>
            <table class="govuk-table">
                <thead class="govuk-table__head">
                  <tr class="govuk-table__row">
                    <th class="govuk-table__header" scope="col">Name</th>
                    <th class="govuk-table__header" scope="col">Email address</th>
                  </tr>
                </thead>
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                      <td class="govuk-table__cell">
                        {{ dataWithDefault({
                              value: data['name'],
                              default: 'Jane Doe'
                          })}}
                      </td>
                      <td class="govuk-table__cell">
                        {{ dataWithDefault({
                              value: data['email'],
                              default: 'jane.doe@responsible-person.com'
                          })}}
                      </td>
                      <td>
                          {# if more than one user, we might need a 'Remove' link here — depends on what we do on user management #}
                      </td>
                </tbody>
              </table>
        </div>
    </div>
{% endblock %}