// global styles for <a> and <p> tags
$govuk-global-styles: true;

// Import GOV.UK Frontend
@import "node_modules/govuk-frontend/all";

// Patterns that aren't in Frontend
@import "patterns/check-your-answers";
@import "patterns/task-list";
@import "patterns/related-items";

// Components that aren't in Frontend
@import "components/cookie-banner";
@import "components/sidebar";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you
input.with-unit {
    margin-right: -25px;
    padding-right: 25px;
}

.secondary-button {
  background-color: $govuk-secondary-text-colour;
  &:focus {
    background-color: $govuk-secondary-text-colour;
  }
  &:hover {
    background-color: $govuk-text-colour;
  }
}

.app-masthead {
  @include govuk-responsive-padding(6, "top");
  @include govuk-responsive-padding(6, "bottom");
  color: govuk-colour("white");
  background-color: govuk-colour("blue");
  margin-top: -10px;
  padding-top: 0 !important;

  strong {
    color: govuk-colour("blue");
    background-color: govuk-colour("white");
  }
  .govuk-phase-banner__text {
    color: white
  }
}

.app-masthead__title {
  color: govuk-colour("white");
  @include govuk-responsive-margin(6, "bottom");
  margin-top: 20px;
}

.app-masthead__description {
  @include govuk-font(24);
  margin-bottom: 0;
  color: govuk-colour("white");
}

.masthead-account-links {
   p {
    margin-left: 10px;
    margin-top: 8px;
    display: inline-block;
    color: govuk-colour("white");
    .banner-link {
      color: white;
    }
   }
  .banner-button {
    background-color: white;
    color: govuk-colour("blue");
    font-weight: bold;
    &:hover {
      background-color: rgba(255,255,255,0.5);
    }
     &:focus {
      background-color: rgba(255,255,255,0.5);
    }
  }
}

.nav {
  padding-bottom: 20px;
  border-bottom: 1px solid $govuk-text-colour;
  h4 {
    float: left;
    padding-right: 10px;
  }
  a {
    float: left;
    text-decoration: none;
  }
  .nav-menu {
    float: right;
    display: inline-block;
    margin-top: -20px;
  }
}

.fixed-width-table {
  table-layout: fixed;
  td {
    width: 20%;
    overflow: hidden;
  }
}

.govuk-table {
  td {
    overflow: hidden !important;
    max-width: 200px;
  }
}
.not-error-override {
  border-color: govuk-colour("blue") !important;
}

.success-override {
   border-color: govuk-colour("green") !important;
}

.no-wrap {
  white-space: nowrap;
}

.capitalize {
  text-transform: capitalize;
}

.govuk-table__row {
  vertical-align: top !important;
}

.success-summary {
  border-color: govuk-colour("green");
}

.active {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: $govuk-text-colour;
  display: inline-block;
  margin-bottom: 3px;
  margin-right: 3px;
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in, ease-in-out;
  animation-duration: 1s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

.width-one-sixth {
  width: 16.666% !important;
}

.product {
  display: inline-block;
  clear: both;
  margin-bottom: 20px;
  &:last-of-type {
    margin-bottom: 0px;
  }
  border-top: 1px solid $govuk-border-colour;
  &:first-of-type {
    border-top: none;
  }
  padding-top: 30px;
  .clearfix {
    padding-top: 20px;
    display: inline-block;
    clear: both;
    max-width: 66.666%;
  }
  h2 {
    max-width: 66.666%;
    a {
      text-decoration: none;

    }
  }
    .product-data {
      width: 50%;
      display: block;
      float: left;
      dt, dd {
        display: inline-block; 
      }
      dt {
        min-width: 220px;
      }
      dd {
        margin-left: 0px;
      }
      margin-bottom: 0px;
    }
}

.govuk-panel--title {
  background-color: $govuk-brand-colour;
  text-align: left;
  .govuk-caption-xl, h1, p {
    color: white;
  }
}

.nav-list {
  li {
    margin-bottom: 10px;
    a {
      text-decoration: none;
    }
  }
}


.govuk-details--inset {
  margin-left: 16px;
}

.finish-link {
  margin-top: 20px;
  width: 100%;
  float: left;
}

.govuk-details__text { 
  margin-top: 16px;
  padding-left: 0px;
  padding-top: 0px;
  .govuk-table__head {
    .govuk-table__header {
      padding-left: 16px;
      padding-right: 16px;
    }
  }
  .govuk-table__body {
    .govuk-table__cell {
      padding-left: 16px;
      padding-right: 16px;
    }
  }
}

.govuk-c-input__prefix,.govuk-c-input__suffix {
    background-color: #f3f2f1;
    white-space: nowrap;
    cursor: default;
    flex: 0;
    padding: 6px
}

.govuk-c-input__prefix {
    border-right: 0
}

.govuk-c-input__suffix {
    border-left: 0
}

.govuk-c-input {
    font-family: "nta",Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    width: 100%;
    height: 40px;
    margin-top: 0;
    padding: 5px;
    border: 2px solid #0b0c0c;
    border-radius: 0;
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none
}

.govuk-c-input:focus {
    outline: 3px solid #ffbf47;
    outline-offset: 0
}

.govuk-c-input::-webkit-outer-spin-button,.govuk-c-input::-webkit-inner-spin-button {
    margin: 0;
    -webkit-appearance: none
}

.govuk-c-input[type="number"] {
    -moz-appearance: textfield
}

.govuk-c-input--error {
    border: 4px solid #b10e1e
}

.govuk-c-date-input:after {
    content: "";
    display: block;
    clear: both
}

.govuk-c-date-input__item {
    width: 50px;
    margin-right: 20px;
    margin-bottom: 0;
    float: left;
    clear: none
}

.govuk-c-date-input__label {
    display: block;
    padding-bottom: 2px
}

.govuk-c-date-input__input {
    margin-bottom: 0
}

.govuk-c-date-input__item--year {
    width: 70px
}

.govuk-c-radios__input {
    position: absolute;
    z-index: 1;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    cursor: pointer;
    margin: 0;
    opacity: 0
}

.govuk-c-radios__label {
    display: block;
    padding: 8px 15px 5px;
    cursor: pointer;
    -ms-touch-action: manipulation;
    touch-action: manipulation
}

.govuk-c-radios__input+.govuk-c-radios__label::before {
    content: "";
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border: 2px solid currentColor;
    border-radius: 50%;
    background: transparent
}

.govuk-c-radios__input+.govuk-c-radios__label::after {
    content: "";
    position: absolute;
    top: 10px;
    left: 10px;
    width: 0;
    height: 0;
    border: 10px solid currentColor;
    border-radius: 50%;
    opacity: 0;
    background: currentColor
}

.govuk-c-radios__input:focus+.govuk-c-radios__label::before {
    -webkit-box-shadow: 0 0 0 4px #ffbf47;
    box-shadow: 0 0 0 4px #ffbf47
}

.govuk-c-radios__input:checked+.govuk-c-radios__label::after {
    opacity: 1
}

.govuk-c-radios__input:disabled,.govuk-c-radios__input:disabled+.govuk-c-radios__label {
    cursor: default
}

.govuk-c-radios__input:disabled+.govuk-c-radios__label {
    opacity: .5
}

.input-wrapper {
    display: flex
}

.govuk-c-input__prefix,.govuk-c-input__suffix {
    background-color: #f3f2f1;
    white-space: nowrap;
    cursor: default;
    flex: 0;
    padding: 6px
}

.govuk-c-input__prefix {
    border-right: 0
}

.govuk-c-input__suffix {
    border-left: 0
}

.govuk-c-input:focus {
    z-index: 1
}

body {
    margin: 0
}

.govuk-c-checkboxes__label {
    display: block;
    padding: 8px 15px 5px;
    cursor: pointer;
    -ms-touch-action: manipulation;
    touch-action: manipulation
}

.govuk-c-checkboxes__input+.govuk-c-checkboxes__label::before {
    content: "";
    -webkit-box-sizing: border-box;
    box-sizing: border-box;
    position: absolute;
    top: 0;
    left: 0;
    width: 40px;
    height: 40px;
    border: 2px solid currentColor;
    background: transparent
}

.govuk-c-checkboxes__input+.govuk-c-checkboxes__label::after {
    content: "";
    position: absolute;
    top: 11px;
    left: 9px;
    width: 18px;
    height: 7px;
    -webkit-transform: rotate(-45deg);
    -ms-transform: rotate(-45deg);
    transform: rotate(-45deg);
    border: solid;
    border-width: 0 0 5px 5px;
    border-top-color: transparent;
    opacity: 0;
    background: transparent
}

.govuk-c-checkboxes__input:focus+.govuk-c-checkboxes__label::before {
    -webkit-box-shadow: 0 0 0 3px #ffbf47;
    box-shadow: 0 0 0 3px #ffbf47
}

.govuk-c-checkboxes__input:checked+.govuk-c-checkboxes__label::after {
    opacity: 1
}

.govuk-c-checkboxes__input:disabled,.govuk-c-checkboxes__input:disabled+.govuk-c-checkboxes__label {
    cursor: default
}

.govuk-c-checkboxes__input:disabled+.govuk-c-checkboxes__label {
    opacity: .5
}

.govuk-c-label {
    font-family: "nta",Arial,sans-serif;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    font-weight: 400;
    font-size: 16px;
    line-height: 20px;
    color: #0b0c0c;
    display: block
}

@media print {
    .govuk-c-label {
        font-family: sans-serif
    }
}

@media (min-width: 40.0625em) {
    .govuk-c-label {
        font-size:19px;
        line-height: 25px
    }
}

@media print {
    .govuk-c-label {
        font-size: 14pt;
        line-height: 1.15
    }
}

@media print {
    .govuk-c-label {
        color: #000
    }
}

.govuk-c-label--bold {
    font-weight: 700
}

.govuk-c-label__hint {
    font-weight: 400;
    display: block;
    color: #6f777b
}