// global styles for <a> and <p> tags
$govuk-global-styles: true;

// Import GOV.UK Frontend
@import "node_modules/govuk-frontend/all";

// Patterns that aren't in Frontend
@import "patterns/check-your-answers";
@import "patterns/task-list";
@import "patterns/related-items";

// Components that aren't in Frontend
@import "components/cookie-banner";
@import "components/sidebar";

// Add extra styles here, or re-organise the Sass files in whichever way makes most sense to you
input.with-unit {
    margin-right: -25px;
    padding-right: 25px;
}

.secondary-button {
  background-color: $govuk-secondary-text-colour;
  &:focus {
    background-color: $govuk-secondary-text-colour;
  }
  &:hover {
    background-color: $govuk-text-colour;
  }
}

.app-masthead {
  @include govuk-responsive-padding(6, "top");
  @include govuk-responsive-padding(6, "bottom");
  color: govuk-colour("white");
  background-color: govuk-colour("blue");
  margin-top: -10px;
  padding-top: 0 !important;

  strong {
    color: govuk-colour("blue");
    background-color: govuk-colour("white");
  }
  .govuk-phase-banner__text {
    color: white
  }
}

.app-masthead__title {
  color: govuk-colour("white");
  @include govuk-responsive-margin(6, "bottom");
  margin-top: 20px;
}

.app-masthead__description {
  @include govuk-font(24);
  margin-bottom: 0;
  color: govuk-colour("white");
}

.masthead-account-links {
   p {
    margin-left: 10px;
    margin-top: 8px;
    display: inline-block;
    color: govuk-colour("white");
    .banner-link {
      color: white;
    }
   }
  .banner-button {
    background-color: white;
    color: govuk-colour("blue");
    font-weight: bold;
    &:hover {
      background-color: rgba(255,255,255,0.5);
    }
     &:focus {
      background-color: rgba(255,255,255,0.5);
    }
  }
}

.nav {
  padding-bottom: 20px;
  border-bottom: 1px solid $govuk-text-colour;
  h4 {
    float: left;
    padding-right: 10px;
  }
  a {
    float: left;
    text-decoration: none;
  }
  .nav-menu {
    float: right;
    display: inline-block;
    margin-top: -20px;
  }
}

.fixed-width-table {
  table-layout: fixed;
  td {
    width: 20%;
    overflow: hidden;
  }
}

.govuk-table {
  td {
    overflow: hidden !important;
    max-width: 200px;
  }
}
.not-error-override {
  border-color: govuk-colour("blue") !important;
}

.no-wrap {
  white-space: nowrap;
}

.capitalize {
  text-transform: capitalize;
}

.govuk-table__row {
  vertical-align: top !important;
}

.success-summary {
  border-color: govuk-colour("green");
}

.active {
  width: 10px;
  height: 10px;
  border-radius: 100%;
  background-color: $govuk-text-colour;
  display: inline-block;
  margin-bottom: 3px;
  margin-right: 3px;
  opacity: 1;
  animation-name: fadeInOpacity;
  animation-iteration-count: infinite;
  animation-timing-function: ease-in, ease-in-out;
  animation-duration: 1s;
}

@keyframes fadeInOpacity {
  0% {
    opacity: 0.2;
  }
  50% {
    opacity: 1;
  }
  100% {
    opacity: 0.2;
  }
}

.width-one-sixth {
  width: 16.666% !important;
}

.product {
  display: inline-block;
  clear: both;
  margin-bottom: 20px;
  &:last-of-type {
    margin-bottom: 0px;
  }
  border-top: 1px solid $govuk-border-colour;
  &:first-of-type {
    border-top: none;
  }
  padding-top: 30px;
  .clearfix {
    padding-top: 20px;
    display: inline-block;
    clear: both;
    max-width: 66.666%;
  }
  h2 {
    max-width: 66.666%;
    a {
      text-decoration: none;

    }
  }
    .product-data {
      width: 50%;
      display: block;
      float: left;
      dt, dd {
        display: inline-block; 
      }
      dt {
        min-width: 220px;
      }
      dd {
        margin-left: 0px;
      }
      margin-bottom: 0px;
    }
}

.govuk-panel--title {
  background-color: $govuk-brand-colour;
  text-align: left;
  .govuk-caption-xl, h1, p {
    color: white;
  }
}

.nav-list {
  li {
    margin-bottom: 10px;
    a {
      text-decoration: none;
    }
  }
}


.govuk-details--inset {
  margin-left: 16px;
}

.finish-link {
  margin-top: 20px;
  width: 100%;
  float: left;
}

.govuk-details__text { 
  margin-top: 16px;
  padding-left: 0px;
  padding-top: 0px;
  .govuk-table__head {
    .govuk-table__header {
      padding-left: 16px;
      padding-right: 16px;
    }
  }
  .govuk-table__body {
    .govuk-table__cell {
      padding-left: 16px;
      padding-right: 16px;
    }
  }
}