{% extends "layout.html" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/cosmetics/responsible-person/responsible-person-email">Back</a>
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
                {% from "dataWithDefault.html" import dataWithDefault %}
            <h1 class="govuk-heading-xl">Check <span class='no-wrap'>{{ dataWithDefault({
                    value: data['contact-person-email'],
                    default: 'example@example.com'
                })}}</span>
            </h1>
            <p>
                We have sent an email to {{ dataWithDefault({
                    value: data['contact-person-email'],
                    default: 'example@example.com'
                })}}
            </p>

            <p>
                Click the link in the email to continue creation of the UK responsible person account.
            </p>
            <p>
                <a href='../../cosmetics/landing-page/notified-cosmetics'>Continue</a>
            </p>
        </div>
    </div>
{% endblock %}
