{% extends "layout.html" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/cosmetics/account/login">Back</a>
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">
                Do you or your organisation have an account to submit cosmetic product notifications in the UK?
            </h1>
            <p>
                This is a different service to the EU Cosmetic Product Notification Portal (CPNP). You will need a new account if you or your organisation have not created an account since Brexit.
            </p>
            {% from "radio-route.html" import radioRoute %}
            {{
                radioRoute({
                    options: [
                        {
                            text: "Yes, I or my organisation have an account",
                            value: "planned",
                            route: "/cosmetics/responsible-person/join-existing"
                        },
                        {
                            text: "No, create a new account to submit cosmetic product notifications in the UK",
                            value: "yes",
                            route: "/cosmetics/responsible-person/business-or-person"
                        }
                    ],
                    name: "notified-to-eu"
                })
            }}
            {% from "radios/macro.njk" import govukRadios %}
        </div>
    </div>
{% endblock %}
