{% extends "layout.html" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-width-container">  
    <main class="govuk-main-wrapper">  
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Name of the UK Responsible Person</h1>

            <p>
                Provide details of the Responsible Person you represent. You can add another Responsible Person later.
            </p>

            <p>
                A Responsible Person can be an organisation or an individual. The Responsible Person must: 
            </p>
            <ul class="govuk-list govuk-list--bullet">
                <li>ensure the cosmetic complies with relevant regulation</li>
                <li>be based in the UK</li>
            </ul>
            <p>
                The Responsible Person will be the manufacturer of the cosmetic, the organisation it’s manufactured for, or the importer if the cosmetic if it’s manufactured outside the UK. 
            </p>
            <p>
                <a href="#">Read about being the ’Responsible Person’ for cosmetics.</a>
            </p>

            {% from "input/macro.njk" import govukInput %}

            <form action="/cosmetics/responsible-person/responsible-person-address" method="get">
                {{ govukInput({
                id: "responsible-person-name",
                name: "responsible-person-name",
                label: {
                    text: "UK registered company name or full name of individual"
                }
                }) }}

                {{ govukButton({
                    text: "Continue"
                }) }}
            </form>
        </div>
    </div>

</main>
</div>

{% endblock %}