{% extends "layout.html" %}

{% block content %}
<div class="govuk-width-container">  
    <main class="govuk-main-wrapper">  
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Phone number of the responsible organisation or person</h1>

            {% from "input/macro.njk" import govukInput %}

            {{ govukInput({
            label: {
                text: "Phone"
            },
            id: "responsible-person-name",
            name: "responsible-person-name"
            }) }}

            {{ govukButton({
                text: "Continue",
                href: "/cosmetics/check-product-details"
            }) }}
        </div>
    </div>

</main>
</div>

{% endblock %}