{% extends "layout.html" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/cosmetics/responsible-person/responsible-person-address">Back</a>
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Email address of the <span class='no-wrap'>UK responsible person</span></h1>

            {% from "input/macro.njk" import govukInput %}
            <form action="/cosmetics/responsible-person-entered" method="get">
                {{ govukInput({
                type: "email",
                id: "responsible-person-email",
                name: "responsible-person-email",
                hint: {
                    text: "We will send a verification email to this email address"
                }
                }) }}

                {{ govukButton({
                    text: "Continue"
                }) }}
            </form>
        </div>
    </div>
{% endblock %}
