{% extends "layout.html" %}

{% block pageTitle %}
  
{% endblock %}

{% block header %}
  {{ govukHeader() }}
{% endblock %}

{% block beforeContent %}
  <div class="govuk-breadcrumbs">
    <ol class="govuk-breadcrumbs__list">
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="https://www.gov.uk">Home</a>
      </li>
      <li class="govuk-breadcrumbs__list-item">
        <a class="govuk-breadcrumbs__link" href="#">Notifying cosmetic products if there is no Brexit deal</a>
      </li>
    </ol>
  </div>
{% endblock %}

{% block content %}
  <div class="govuk-grid-row">
    <div class="govuk-grid-column-full">

      <div class="govuk-panel govuk-panel--title govuk-!-margin-bottom-6">
        <span class="govuk-caption-xl">Guidance</span>
        <h1 class="govuk-heading-xl govuk-!-margin-bottom-4">
          Notifying cosmetic products if there is no Brexit deal
        </h1>
        <p class='govuk-!-margin-bottom-0'>
          Updated 30 January 2019
        </p>
      </div>
    </div>
    <div class='govuk-grid-column-one-quarter'>
      <h2 class='govuk-body-s'>
        Contents
      </h2>
      <ul class='govuk-body-s govuk-list nav-list'>
        <li>
          <a href='' class='govuk-link--no-visited-state'>
            Preparation of data for registering cosmetic products in the UK after Brexit
          </a>
        </li>
        <li>
          <a href='' class='govuk-link--no-visited-state'>
            Change in status relating to importers
          </a>
        </li>
        <li>
          <a href='' class='govuk-link--no-visited-state'>
            Product labelling
          </a>
        </li>  
      </ul>
    </div>
    <div class='govuk-grid-column-three-quarters'>
      <p>
        Delivering a deal negotiated with the EU remains the government’s top priority. However, the government must plan for every possible outcome including no deal. It is the responsible thing to do and we are advising businesses and citizens to ensure that they are similarly prepared.
      </p>
      
    </div>
  </div>
{% endblock %}
