{% extends "layout.html" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/cosmetics/landing-page">Back</a>
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">
                Have the cosmetic products been notified on the <span class='no-wrap'>EU CPNP</span>?
            </h1>
            <p>
                To make registering a cosmetic product as simple as possible, you can use product notification files from the EU Cosmetic Product Notification Portal (CPNP).
            </p>
            <p>
                If you don’t have acces to CPNP or won’t be selling the product in the EU, complete cosmetic product registration manually.
            </p>
            {% from "radio-route.html" import radioRoute %}
            {{
                radioRoute({
                    options: [
                        {
                            text: "Yes, they are notified on CPNP",
                            value: "true",
                            route: "/cosmetics/import/cpnp-export-upload"
                        },
                        {
                            text: "No",
                            value: "false",
                            route: "/cosmetics/manual/product-name"
                        }
                    ],
                    name: "notified-to-eu"
                })
            }}
            {% from "radios/macro.njk" import govukRadios %}
        </div>
    </div>
{% endblock %}