{% extends "layout.html" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/cosmetics/intending-to-sell-in-eu">Back</a>
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Upload your EU notification files</h1>
            <p>
              The EU Cosmetic Product Notification Portal (CPNP) allows users to download a PDF and ZIP files containing XML files for each notification.
          </p>
            <p>
              To use your EU notification files you must <strong>export</strong> your data as zip files for all cosmetic products.
            </p>
            <p>
              Once you have uploaded your files you will need to add an image for each and if the original EU notification had attached a document with formulation information, you will also need provide this.
            </p>
            <form action="/cosmetics/upload">
                <div class="govuk-form-group">
                  <h2 class='govuk-heading-m'>
                    Upload EU notification files
                  </h2>
                  <label class="govuk-label govuk-!-margin-bottom-4" for="file-upload-1">
                    You can upload multiple at once, all files must be zip.
                  </label>
                  <input class="govuk-file-upload" id="cpnp-upload" name="cpnp-upload" type="file" multiple>
                </div>

                {% from "button/macro.njk" import govukButton %}
                {{ govukButton({
                    text: "Continue"
                }) }}

            </form>
        </div>
    </div>
{% endblock %}