{% extends "layout.html" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/cosmetics/intending-to-sell-in-eu">Back</a>
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-l">
                To make UK cosmetic product notification simpler, notify your cosmetic products on CPNP first
            </h1>

            <p>
                Once the cosmetic products have been registered in the EU, you can use the notification file from the CPNP to save time. Once you have the cosmetic product notification file, you can <a href='/cosmetics/import/cpnp-export-upload'>upload your file</a> for UK notification.
            </p>

            <p>
                To continue registration without a notification file from CPNP, <a href='/cosmetics/manual/was-product-on-sale-before-eu-exit'>enter the details of the product manually</a>.
            </p>
        </div>
    </div>
{% endblock %}
