{% extends "layout.html" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/cosmetics/intending-to-sell-in-eu">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-width-container">  
    <main class="govuk-main-wrapper">  
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">To make product registration simple, notify your product on CPNP first</h1>

            <p>
                Once the product has been notified in the EU, you can use the product file from the <a href='#'>CPNP</a> to save time.
            </p>

            <p>
                To continue registration without a product file from CPNP, <a href='/cosmetics/manual/product-name'>enter the details of the product manually</a>.
            </p>
        </div>
    </div>

</main>
</div>

{% endblock %}