{% extends "layout.html" %}

{% block content %}
{% from "back-link/macro.njk" import govukBackLink %}

{{ govukBackLink({
    text: "Back",
    href: "/cosmetics/import/cpnp-export-upload"
}) }}
<div class="govuk-width-container">  
    <main class="govuk-main-wrapper">  
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            
            <h1 class="govuk-heading-xl">Upload attachments from CPNP notification</h1>

            <p>
                The following files were referenced in your uploaded export file. Please upload a copy of each of them.
            </p>

            <h3 class="govuk-heading-m">Label image</h1>

            {% from "file-upload/macro.njk" import govukFileUpload %}

            {{ govukFileUpload({
            id: "file-upload-1",
            name: "file-upload-1",
            label: {
                text: "The file must be a ‘.jpg’ or ‘.png’ file."
            }
            }) }}

            <h3 class="govuk-heading-m">Packaging image</h1>

                {% from "file-upload/macro.njk" import govukFileUpload %}
    
                {{ govukFileUpload({
                id: "file-upload-1",
                name: "file-upload-1",
                label: {
                    text: "The file must be a ‘.jpg’ or ‘.png’ file."
                }
                }) }}

            {{ govukButton({
                text: "Continue",
                href: "/cosmetics/check-responsible-person"
            }) }}
        </div>
    </div>

</main>
</div>

{% endblock %}