{% extends "layout.html" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/cosmetics/import/cpnp-export-upload">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-width-container">  
    <main class="govuk-main-wrapper">  
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            
            <h1 class="govuk-heading-xl">Upload an image of the cosmetic label</h1>

            <p>
                This can be an artwork file or a photo of the label.
            </p>
            <p>
                If you upload a photo text in the image must be legible.
            </p>

            {% set listEntryHtml %}
                {% from "file-upload/macro.njk" import govukFileUpload %}

                {{ govukFileUpload({
                    id: "file-upload-1",
                    name: "file-upload-1",
                    label: {
                        text: "The file must be a ‘jpg’, ‘pdf’ ‘png’, or ‘svg’ and no larger than 10MB."
                    }
                }) }}
            {% endset %}


            {% from "expanding-list.html" import expandingList %}
            {{
                expandingList({
                    listEntryHtml: listEntryHtml
                })
            }}
            <br/>

            
            {{ govukButton({
                text: "Continue",
                href: "/cosmetics/import/export-packaging-upload"
            }) }}
        </div>
    </div>

</main>
</div>

{% endblock %}