{% extends "layout.html" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/cosmetics/import/cpnp-export-upload">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-width-container">  
    <main class="govuk-main-wrapper">  
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Upload a photo of the cosmetic packaging</h1>

            <p>
                If the cosmetic is sold in secondary packaging (for example, a shampoo bottle sold in a box), upload separate photos for the cosmetic and its packaging.
            </p>
            <p>
                Text in the photo must be legible.
            </p>

            {% set listEntryHtml %}
                {% from "file-upload/macro.njk" import govukFileUpload %}

                {{ govukFileUpload({
                    id: "file-upload-1",
                    name: "file-upload-1",
                    label: {
                        text: "The file must be a ‘jpg’, ‘pdf’ ‘png’, or ‘svg’ and no larger than 10MB."
                    }
                }) }}
            {% endset %}


            {% from "expanding-list.html" import expandingList %}
            {{
                expandingList({
                    listEntryHtml: listEntryHtml
                })
            }}
            <br/>
            {{ govukButton({
                text: "Continue",
                href: "/cosmetics/check-product-details"
            }) }}
        </div>
    </div>
</main>
</div>

{% endblock %}