{% extends "layout.html" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/cosmetics/import/cpnp-export-upload">Back</a>
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">
                Upload formulation document
            </h1>

            <p>
               This can be either as ranges or the exact concentration.
           </p>
           <p>
               For each ingredient give the International Nomenclature of Cosmetic Ingredients (INCI) name.
            </p>

            {% set listEntryHtml %}
                {% from "file-upload/macro.njk" import govukFileUpload %}

                {{ govukFileUpload({
                    id: "file-upload-1",
                    name: "file-upload-1",
                    label: {
                        text: "The file must be in a JPG, PDF, PNG or SVG format and no larger than 1Gb."
                    }
                }) }}
            {% endset %}

            {% from "file-upload/macro.njk" import govukFileUpload %}

            {{ govukFileUpload({
            id: "file-upload-1",
            name: "file-upload-1",
            label: {
                text: "FIle type can be a ‘pdf', 'rtf' or ‘txt’."
            }
            }) }}

            {{ govukButton({
                text: "Continue",
                href: "/cosmetics/check-product-details"
            }) }}
        </div>
    </div>
{% endblock %}
