{% extends "layout.html" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/cosmetics/landing-page">Back</a>
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Without CPNP files, notification needs to be done manually</h1>
            <p>
                To continue registration without a notification file from CPNP, <a href="/cosmetics/manual/product-name">enter the details of the cosmetic manually</a>.
            </p>
        </div>
    </div>
{% endblock %}