{% extends "layout.html" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/cosmetics/claim-existing/will-eu-rp-approve">Back</a>
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {% from "dataWithDefault.html" import dataWithDefault %}
            <h1 class="govuk-heading-xl">Upload a list of your products</h1>

            <p>
                Download a template file:
            </p>

            <p>
                <a href="#">CSV - Cosmetics product list template</a>
            </p>

            <p>
                <a href="#">XLST - Excel cosmetic list template </a>
            </p>

            <p>
                The file you upload must be a ‘XLS’ or ‘CSV’, with a single column containing a cosmetic name in each cell. Include the brand, range, individual product name, CPNP reference number time to the second it was first notified and its use so it can be easily identified and distinguished from other products.
            </p>

            <p>
                    {{ dataWithDefault({
                        value: data['responsible-person-name'],
                        default: 'Example responsible person'
                    })}} will be the UK responsible person for these cosmetics.
            </p>

            {% from "file-upload/macro.njk" import govukFileUpload %}

            {{ govukFileUpload({
                id: "file-upload-1",
                name: "file-upload-1",
                label: {
                    text: "Upload your cosmetic list:"
                }
            }) }}

            {{ govukButton({
                text: "Continue",
                href: "/cosmetics/check-details-bulk"
            }) }}
        </div>
    </div>
{% endblock %}