{% extends "layout.html" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/cosmetics/claim-existing/eu-rp-email-address">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-width-container">  
    <main class="govuk-main-wrapper">  
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                {% from "dataWithDefault.html" import dataWithDefault %}
                <h1 class="govuk-heading-xl">An email has been sent to {{ dataWithDefault({
                    value: data['eu-responsible-person-email'],
                    default: 'eu-rp@example.com'
                })}}</h1>

                <p>
                    Once approval approval has been given you will be able to take responsibility for cosmetics in the UK.
                </p>
                <p>
                    <a href="/cosmetics/landing-page">Back to summary of notifications</a>
                </p>

                <p>
                    As this is a prototype and not a real service, no email has been sent. To follow the link that would be sent to the UK responsible person please click <a href="/cosmetics/claim-existing/email-check">here</a>.
                </p>
            </div>
        </div>
    </main>
</div>

{% endblock %}