{% extends "layout.html" %}

{% block content %}
<div class="govuk-width-container">  
    <main class="govuk-main-wrapper">  
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">Email validated</h1>

                {{ govukButton({
                    text: "Continue",
                    href: "/cosmetics/check-details-bulk"
                }) }}
            </div>
        </div>
    </main>
</div>

{% endblock %}