{% extends "layout.html" %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {% from "dataWithDefault.html" import dataWithDefault %}
            <h1 class="govuk-heading-xl">Share data about cosmetics previously notified with {{ dataWithDefault({
                    value: data['user-name'],
                    default: 'Example UK RP name'
                })}}?</h1>
            <p>
                <a href="#">Download list of cosmetics</a>
            </p>
            <p>
                {{ dataWithDefault({
                    value: data['user-name'],
                    default: 'Example Responsible Person'
                })}} will be able to see the names of all cosmetics previously notified by {{ dataWithDefault({
                    value: data['eu-responsible-person-name'],
                    default: 'Example EU RP name'
                })}}
            </p>
            {% from "radio-route.html" import radioRoute %}
            {{
                radioRoute({
                    options: [
                        {
                            text: "Yes, I will share the names of these cosmetics",
                            value: "true",
                            route: "/cosmetics/claim-existing/email-validated"
                        },
                        {
                            text: "No, I do not want this person to have access to names of these cosmetics",
                            value: "false",
                            route: "/cosmetics/landing-page/cosmetics-notified-before-eu-exit"
                        }
                    ],
                    name: "EU-RP-has-confirmed"
                })
            }}
        </div>
    </div>
{% endblock %}