{% extends "layout.html" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/cosmetics/claim-existing/eu-rp-email-address">Back</a>
{% endblock %}

{% block content %} 
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            {% from "dataWithDefault.html" import dataWithDefault %}
            <div class="govuk-panel govuk-panel--confirmation">
                    <h1 class="govuk-panel__title">
                            {{ dataWithDefault({
                                value: data['name'],
                                default: 'Example UK RP name'
                            })}} now has access to the cosmetic product names
                    </h1>
                    </div>
            <p>
                We have sent you a confirmation email.
            </p>
            <h3 class="govuk-heading-m">What happens next</h1>
            <p>We have sent an email to {{ dataWithDefault({
                    value: data['name'],
                    default: 'Example UK RP name'
                })}} to let them know that they can submit notifications for these cosmetic products.</p>
                <p>
                    As this is a prototype and not a real service, no email has been sent.
                </p>
                <p>
                    <a href="/cosmetics/landing-page/cosmetics-notified-before-eu-exit">Back to notification overview.</a>
                </p>
        </div>
    </div>
{% endblock %}
