{% extends "layout.html" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/cosmetics/claim-existing/will-eu-rp-approve">Back</a>
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">What is the email address of the EU responsible person?</h1>

            <p>
              We will send an email to the EU responsible person with:</p>
                <ul class="govuk-list govuk-list--bullet">
                  <li>your name</li>
                  <li>your email address</li>
                  <li>details of the UK responsible person you represent</li>
          </ul>

            <p>
                They can approve your request by clicking the link in the email. The link will expire after 48 hours.
            </p>

            {% from "input/macro.njk" import govukInput %}

            <form action="/cosmetics/claim-existing/email-sent" method="get">
                {{ govukInput({
                    label: {
                        text: "Email address"
                    },
                    id: "eu-responsible-person-email",
                    name: "eu-responsible-person-email",
                    type: "email"
                }) }}

                {{ govukButton({
                    text: "Send link"
                }) }}
            </form>
        </div>
    </div>
{% endblock %}
