{% extends "layout.html" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/cosmetics/claim-existing/which-responsible-person">Back</a>
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Will the EU responsible person approve your request to take responsibility for their products in the UK?</h1>
            <p>
                The EU responsible person will need to approve your request to take responsibility for their cosmetics in the UK. An email will be sent to their registered email address to request this approval.
            </p>
            {% from "radio-route.html" import radioRoute %}
            {{
                radioRoute({
                    options: [
                        {
                            text: "Yes, I believe so",
                            value: "true",
                            route: "/cosmetics/claim-existing/eu-rp-email-address"
                        },
                        {
                            text: "No",
                            value: "false",
                            route: "/cosmetics/claim-existing/bulk-upload"
                        }
                    ],
                    name: "will-eu-rp-approve"
                })
            }}
        </div>
    </div>
{% endblock %}