{% extends "layout.html" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/cosmetics/account/create-account">Back</a>
{% endblock %}

{% block content %}
{% from "dataWithDefault.html" import dataWithDefault %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Check your email​</h1>
            <p>
                We have sent an email to 
                {{ dataWithDefault({
                    value: data['email'],
                    default: 'example@example.com'
                })}}
            </p>

            <p>
                You need to click the link in the email to continue your registration.
            </p>

            <p>
                <a href="/cosmetics/account/login">Return to login page</a>
            </p>
        </div>
    </div>
{% endblock %}