{% extends "layout.html" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/cosmetics/account/login">Back</a>
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Create an account</h1>

            <p>
                To create an account you will need to provide information for the UK Responsible person and a contact details for a person if there is an health risk or harm is caused by your cosmetic.
            </p>
            <p>
                If you are joining an existing responsible person, you must be invited by someone from that organisation.
            </p>
            <h3 class="govuk-heading-m">For the UK responsible person you need their:</h1>
            <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-7">
                <li>business number if the responsible person is a business</li>
                <li>business name or full name</li>
                <li>UK address</li>
                <li>phone number</li>
                <li>email address</li>
            </ul>
            <h3 class="govuk-heading-m">For the the emergency contact person you need their:</h1>
                <ul class="govuk-list govuk-list--bullet govuk-!-margin-bottom-7">
                    <li>full name</li>
                    <li>phone number</li>
                </ul>
            {{ govukButton({
                text: "Continue",
                href: "/cosmetics/account/create-account"
            }) }}
        </div>
    </div>
{% endblock %}