{% extends "layout.html" %}

{% block content %}
<div class="govuk-width-container">  
    <main class="govuk-main-wrapper">  
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl">Your notified cosmetics</h1>

          <p>
              <a href='/cosmetics/product-sale-date-check'>Notify a new product</a>
          </p>

          {% from "table/macro.njk" import govukTable %}

        {{ govukTable({
        caption: "Draft cosmetics",
        firstCellIsHeader: false,
        head: [
            {
                text: "Product"
            },
            {
                text: "Started on"
            },
            {
                text: ""
            }
        ],
        rows: [
            [
            {
                text: "Product 1"
            },
            {
                text: "1/1/1990"
            },
            {
                html: "<a href='#'>Continue</a>"
            }
            ],
            [
            {
                text: "Product 2"
            },
            {
                text: "1/1/1990"
            },
            {
                html: "<a href='#'>Continue</a>"
            }
            ]
        ]
        }) }}

        {{ govukTable({
            caption: "Notified cosmetics",
            firstCellIsHeader: false,
            head: [
                {
                    text: "Product"
                },
                {
                    text: "Submitted on"
                },
                {
                    text: ""
                }
            ],
            rows: [
                [
                {
                    text: "Product 1"
                },
                {
                    text: "1/1/1990"
                },
                {
                    html: "<a href='#'>Continue</a>"
                }
                ],
                [
                {
                    text: "Product 2"
                },
                {
                    text: "1/1/1990"
                },
                {
                    html: "<a href='#'>Continue</a>"
                }
                ]
            ]
            }) }}
        </div>
    </div>

</main>
</div>

{% endblock %}