{% extends "layout.html" %}


{% block content %}
{% from "cosmetics/landing-page-input-type/sidebar.html" import sidebar %}
{% from "dataWithDefault.html" import dataWithDefault %}

<div class="govuk-grid-row">
  <div class="govuk-grid-column-one-quarter">
    {{ sidebar({
      pageId: 'draft-cosmetic-products'
    })}}
  </div>

  <div class="govuk-grid-column-three-quarters">

    <h1 class="govuk-heading-xl">
      Draft cosmetic products
    </h1>

    {% if data['cpnp-upload'] %}
    <table class="govuk-table">
      <thead class="govuk-table__head">
        <tr class="govuk-table__row">
          <th class="govuk-table__header" scope="col">Product name</th>
          <th class="govuk-table__header" scope="col">UK cosmetic product number</th>
          <th class="govuk-table__header" scope="col">CPNP reference</th>
          <th class="govuk-table__header" scope="col">Files needed</th>
          <th class="govuk-table__header" scope="col"></th>
        </tr>
      </thead>
      <tbody class="govuk-table__body">
        {% for item in data['cpnp-upload'] %}
          <tr class="govuk-table__row">
            <td class="govuk-table__cell" scope="row"><span class='capitalize'>{{ item }}</span></th>
            <td class="govuk-table__cell">
              UKCP-<span class='ukCosmeticNumber'></span>
            </td>
            <td class="govuk-table__cell"><span class='ukCosmeticNumber'></span></td>
            <td class="govuk-table__cell">
              <ul class='govuk-list govuk-list--bullet'>
                <li>
                  Formulation
                </li>
                <li>
                  Packaging image
                </li>
              </ul>
            </td>
            <td class="govuk-table__cell govuk-table__cell--numeric"><a href='#'>Upload</a></td>
          </tr>
        {% endfor %}
      </tbody>
    </table>
    {% else %}
    <p>
      <strong>
      {{ dataWithDefault({
          value: data['responsible-person-name'],
          default: 'Example responsible person'
      })}}
      </strong> has no incomplete cosmetic products.
    </p>
    {% endif %}
  </div>
</div>

{% endblock %}