{% extends "layout.html" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}
{% from "cosmetics/landing-page/sidebar.html" import sidebar %}
    <div class="govuk-grid-row">
            <div class="govuk-grid-column-one-quarter">
                    {{ sidebar({
                        pageId: 'new-cosmetics'
                    })}}
            </div>
        <div class="govuk-grid-column-three-quarters">
            <h1 class="govuk-heading-xl">Notify a new cosmetic product</h1>
            <p>
                A cosmetic product can only be sold in the UK if there is a designated responsible person who ensures it complies with relevant regulation and notifies details of the cosmetic product to the government.
            </p>
            <h2 class="govuk-heading-m">If you have access to CPNP cosmetic product notification files:</h2>
            <p>
                To make notifying in the UK simpler, you can use notication files from CPNP once you’ve notified the EU. <a href="#">Read how to export your CPNP notification file</a>.
            </p>
            <p>
                Unless you originally notified using a predefined frame formulation, you will also need to provide the formulation files. You can use the same files as used for CPNP.
            </p>
            <p>
                You will need to upload the packaging and label images.
            </p>
            <p>
                <a href="/cosmetics/import/check-access-to-file" class="govuk-!-font-weight-bold govuk-link--no-visited-state">Notify using CPNP cosmetic product notification files</a>
            </p>
            <h2 class="govuk-heading-m">If the cosmetics product is not sold in the EU</h2>
            <p>
                If there is no intent to sell the cosmetic in the EU, submit the product notification manually.
            </p>
            <p>
                <a href="/cosmetics/manual/product-name" class="govuk-!-font-weight-bold govuk-link--no-visited-state">Submit a cosmetic product notification</a>
            </p>
        </div>
    </div>
{% endblock %}
