{% extends "layout.html" %}

{% block content %}
{% from "cosmetics/landing-page-input-type/sidebar.html" import sidebar %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-one-quarter">
                {{ sidebar({
                    pageId: 'team-members'
                })}}
        </div>
        <div class="govuk-grid-column-three-quarters">
            <h1 class="govuk-heading-xl">Team members</h1>
            {% from "dataWithDefault.html" import dataWithDefault %}
            <p>
                <a href="#" class="govuk-!-font-weight-bold govuk-link--no-visited-state">Invite a colleague</a>
            </p>
            <table class="govuk-table">
                <tbody class="govuk-table__body">
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="row">Name</th>
                        <td class="govuk-table__cell">
                            {{ dataWithDefault({
                                value: data['responsible-person-name'],
                                default: 'Example responsible person'
                            })}}
                        </td>
                        <td class="govuk-table__cell app-check-your-answers__change"><a href='#'>Edit</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="row">Address</th>
                        <td class="govuk-table__cell">
                            {{ dataWithDefault({
                                value: data['address-line-1'],
                                default: 'Address line 1'
                            })}}<br>
                            {{ dataWithDefault({
                                value: data['address-line-2'],
                                default: 'Address line 2'
                            })}}<br>
                            {{ dataWithDefault({
                                value: data['address-town-city'],
                                default: 'Example town'
                            })}}<br>
                            {{ dataWithDefault({
                                value: data['address-county'],
                                default: 'Example county'
                            })}}
                        </td>
                        <td class="govuk-table__cell app-check-your-answers__change"><a href='#'>Edit</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="row">Email address</th>
                        <td class="govuk-table__cell">
                            {{ dataWithDefault({
                                value: data['responsible-person-email'],
                                default: 'example@example.com'
                            })}}
                        </td>
                        <td class="govuk-table__cell app-check-your-answers__change"><a href='#'>Edit</a></td>
                    </tr>
                    <tr class="govuk-table__row">
                        <th class="govuk-table__header" scope="row">Phone Number</th>
                        <td class="govuk-table__cell">
                            {{ dataWithDefault({
                                value: data['responsible-person-phone'],
                                default: '0700000000'
                            })}}
                        </td>
                        <td class="govuk-table__cell app-check-your-answers__change"><a href='#'>Edit</a></td>
                    </tr>
                </tbody>
            </table>
            <p>
                <a href="/cosmetics/delete-responsible-person" class="govuk-!-font-weight-bold govuk-link--no-visited-state">Remove user</a>
            </p>
        </div>
    </div>
{% endblock %}
