{% extends "layout.html" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-width-container">  
    <main class="govuk-main-wrapper">  
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Check your product details</h1>

            {% from "table/macro.njk" import govukTable %}

            {{ govukTable({
                caption: "Responsible Person",
                firstCellIsHeader: true,
                rows: [
                    [
                        {
                            text: "Name"
                        },
                        {
                            text: "[Responsible Person name]"
                        },
                        {
                            html: "<a href='#'>Change</a>"
                        }
                    ],
                    [
                        {
                            text: "Email address"
                        },
                        {
                            text: "[Responsible Person email]"
                        },
                        {
                            html: "<a href='#'>Change</a>"
                        }
                    ],
                    [
                        {
                            text: "Phone number"
                        },
                        {
                            text: "[Responsible Person phone]"
                        },
                        {
                            html: "<a href='#'>Change</a>"
                        }
                    ],
                    [
                        {
                            text: "Address"
                        },
                        {
                            text: "[Responsible Person address line 1]\n[Responsible Person address line 2]\n[Responsible Person address line 3]\n[Responsible Person address line 4]"
                        },
                        {
                            html: "<a href='#'>Change</a>"
                        }
                    ]
                ]
            }) }}

            {{ govukTable({
                caption: "Cosmetics",
                firstCellIsHeader: true,
                rows: [
                [{text: "Product name"},{text: "[data]"},{html: "<a href='#'>Change</a>"}],
                [{text: "Number of components"},{text: "[data]"},{html: "<a href='#'>Change</a>"}],
                [{text: "Imported"},{text: "[data]"},{html: "<a href='#'>Change</a>"}],
                [{text: "Imported from"},{text: "[data]"},{html: "<a href='#'>Change</a>"}],
                [{text: "Carcinogenic, mutagenic or toxic for reproduction"},{text: "[data]"},{html: "<a href='#'>Change</a>"}],
                [{text: "Substances"},{text: "[data as list]"},{html: "<a href='#'>Change</a>"}],
                [{text: "Contains nanomaterials"},{text: "[data]"},{html: "<a href='#'>Change</a>"}],
                [{text: "Nanomaterials"},{text: "[data as list]"},{html: "<a href='#'>Change</a>"}],
                [{text: "Instructions for us"},{text: "[data as list]"},{html: "<a href='#'>Change</a>"}],
                [{text: "Exposure"},{text: "[data as list]"},{html: "<a href='#'>Change</a>"}],
                [{text: "Cosmetic category"},{text: "[data]"},{html: "<a href='#'>Change</a>"}],
                [{text: "[level 1] type"},{text: "[data]"},{html: "<a href='#'>Change</a>"}],
                [{text: "[level 1] type"},{text: "[data]"},{html: "<a href='#'>Change</a>"}],
                [{text: "Formulation"},{text: "[data]"},{html: "<a href='#'>Change</a>"}],
                [{text: "Label image"},{text: "[file name]"},{html: "<a href='#'>Change</a>"}],
                [{text: "Packaging photo"},{text: "[file name]"},{html: "<a href='#'>Change</a>"}]
                ]
            }) }}

                <h3 class="govuk-heading-m">
                    Now notify your product
                </h3>
                <p>
                    By submitting this notification you are confirming that, to the best of your knowledge, the details you are providing are correct.
                </p>
                {{ govukButton({
                    text: "Accept and notify product",
                    href: "/cosmetics/confirmation"
                }) }}
        </div>
    </div>

</main>
</div>

{% endblock %}