{% extends "layout.html" %}

{% block content %}
<div class="govuk-width-container">  
    <main class="govuk-main-wrapper">  
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Upload your CPNP notification file</h1>

            {% from "file-upload/macro.njk" import govukFileUpload %}

            {{ govukFileUpload({
            id: "file-upload-1",
            name: "file-upload-1",
            label: {
                text: "The file type must be a ‘.ZIP’ file."
            }
            }) }}

            {{ govukButton({
                text: "Continue",
                href: "/cosmetics/check-responsible-person"
            }) }}

            <p><a href='#'>Find out how to download you CPNP product file</a></p>
        </div>
    </div>

</main>
</div>

{% endblock %}