{% extends "layout.html" %}




{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
{{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: "/cosmetics",
    containerClasses: "govuk-width-container"
}) }}
{% from "phase-banner/macro.njk" import govukPhaseBanner %}
<div class="app-masthead">
	<div class="govuk-width-container app-site-width-container">
		<div class="govuk-grid-row">
			<div class="govuk-grid-column-full">
				{{ govukPhaseBanner({
                    tag: {
                    text: "prototype"
				},
				    html: 'This app is a prototype - it will not store any data entered by users'
				}) }}
			</div>
			<div class="govuk-grid-column-two-thirds">
				<h1 class="govuk-heading-xl app-masthead__title">Register cosmetic products</h1>
				<p class="app-masthead__description govuk-!-margin-bottom-5">
					Notification of cosmetic products to be sold or given away in the UK.
				</p>
        <div class='masthead-account-links'>
          <a href="/cosmetics/account/create-account" role="button" draggable="false" class="govuk-button banner-button">
              Create an account
          </a>
          <p>
            or <a href='/cosmetics/account/login' class='banner-link'>sign in</a> if you’ve used it before
          </p>
        </div>
			</div>
		</div>
	</div>
</div>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">

	<div class="govuk-grid-column-two-thirds">
        <h3 class="govuk-heading-m">
            Registering cosmetic products in the UK
        </h3>
        <p>
            For safety purposes all <a href='#'>cosmetic products</a> intended for sale or given away in the UK must be registered in the UK.
        </p> 
        <p class='govuk-!-margin-bottom-1'>
            To register a product you need to give details of:
        </p>
        <ul class='govuk-list govuk-list--bullet'>
            <li>the organisation or individual responsible for ensuring regulations are followed, known as the ‘responsible person’</li>
            <li>the cosmetic name</li> 
            <li>the formulation</li>
            <li>an image of the packaging and label</li>
        </ul>
        <h3 class="govuk-heading-m">
            Cosmetic products notified in the EU before <span class='no-wrap'>29 March 2019</span>
        </h3>
        <p>
            To continue to sell or give away cosmetic products that were notified to the European Union (EU) before Brexit, you must register your products in the UK by <span class='no-wrap'>11:59pm on 27 June 2019</span>.
        </p> 
        <p class='govuk-!-margin-bottom-1'>
            You will need to provide:
        </p>
        <ul class='govuk-list govuk-list--bullet'>
             <li>the <span class='no-wrap'>UK-based</span> responsible person</li> 
             <li>the cosmetic name</li> 
             <li>the formulation</li>
             <li>an image of the packaging and label</li>
        </ul>
        <h3 class="govuk-heading-m">
            How to register cosmetic products in the UK
        </h3>
        <p>
            
        </p>
        <h4 class='govuk-heading-s'>
            Cosmetic products available in the EU and the UK
        </h4>
        <p>
            The EU Cosmetic Product Notification Portal (CPNP) allows users to download a PDF and ZIP files containing XML files for each notification.
        </p>
        <p>
            You can upload cosmetic files as ZIP files containing XML files on the UK cosmetic product registration service.
        </p> 
        <p class='govuk-!-margin-bottom-1'>
           To use the data from your EU notifications for UK registration you need to:
        </p>
        <ul class='govuk-list govuk-list--bullet'>
            <li>
                <strong>export</strong> your data as ZIP files for all cosmetic products
            </li>
            <li>
                upload your ZIP file containing XML files to the UK service
            </li>
            <li>
                add an image of each product, this can be the same as you used for the EU notification
            </li>
            <li>
                if the original EU notification file had an attached document with formulation information, you will also need add this
            </li>
        </ul>
        <h4 class='govuk-heading-s'>
            Cosmetic products not available in the EU
        </h4>
        <p>
            You can register a cosmetic product by entering information about the product.
        </p>
        <p class='govuk-!-margin-bottom-1'>
            You will need:
        </p>
        <ul class='govuk-list govuk-list--bullet'>
            <li>the name</li>
            <li>the shades, if available in more than 1 shade</li>
            <li>the size, if available in more than 1 size</li>
            <li>the ingredients as either a frame formulation, ingredients range, or exact concentrations</li>
            <li>an image of the packaging and label</li>
        </ul>
        <p class='govuk-!-margin-bottom-1'>
            If cosmetic the product was not notified in the EU before 29 March 2019, you will be asked to provide information about:
        </p>
        <ul class='govuk-list govuk-list--bullet'>
            <li>
                carcinogenic, mutagenic or toxic for reproduction substances (CMR)
            </li>
            <li>
                nanomaterials
            </li>
        </ul>

        <h4 class="govuk-heading-s">Cosmetics products containing nanomaterials</h4>
        <p>
            If a cosmetic product contains nanomaterials not already approved for use in cosmetics, the
            responsible person must notify us of their proposed use 6 months before the cosmetic product
            containing them goes on sale.
        </p>
        <p class='govuk-!-margin-bottom-7'>
            <a href="#">Read about using nanomaterials in cosmetics.</a>
        </p>

        {# <a href="/cosmetics/account/login" role="button" draggable="false" class="govuk-button govuk-button--start">
            Start now
        </a> #}
	</div>
</div>
{% endblock %}