{% extends "layout.html" %}

{% block content %}

<div class="govuk-width-container">  
    <main class="govuk-main-wrapper">  
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
          <h1 class="govuk-heading-xl">Notify cosmetics</h1>
          <p>
            A cosmetic can only be sold in the UK if there is a designated Responsible Person who ensures it complies with relevant regulation and notifies details of the cosmetic to the government.
          </p>
          
          <h3 class="govuk-heading-m">Responsible Person</h1>
          <p>
            The Responsible Person can be an organisation or an individual based in the UK.
          </p>
          <p>
            The Responsible Person will be the manufacturer of the cosmetic, the organisation it’s manufactured for, or the importer if the cosmetic if it’s manufactured outside the UK.
          </p>

          <p>
            <a href="#">Read about being the ’Responsible Person’ for cosmetics.</a>
          </p>

          <h2 class="govuk-heading-l">Before you start</h2>
          <h3 class="govuk-heading-m">Cosmetics notified to the European Commission before the UK left the European Union</h1>
          <p>
            If a cosmetic was notified to the European Commission before the UK left the European Union, it can only continue to be sold in the UK if information about a new UK-based Responsible Person and the cosmetic formulation is provided within 60 days of the UK leaving the European Union.
          </p>
          <p>
            To make the process simpler UK Responsible Persons can take responsibility for cosmetics by reusing data previously submitted to the European Commission. You’ll need approval from the EU Responsible Person who notified the cosmetics to access their product list, or access to the notification files from the EU Cosmetic Products Notification Portal (CPNP).
          </p>
          <p>
            UK Responsible Persons can also provide this information manually. You’ll need to provide the cosmetic product names and formulation data for each cosmetic.
          </p>

          <h3 class="govuk-heading-m">New cosmetics going on sale in the UK since the UK left the European Union</h1>
          <p>
            New cosmetics must be notified to the UK government by the Responsible Person before being sold. Notification includes information about the cosmetic required for market surveillance and safety purposes. 
          </p>
          <p>
            To make the process simpler, it is possible to reuse information provided to the European Commission for cosmetics that are also going on sale in the European Union. If the UK Responsible Person will be able to access to information from the EU’s Cosmetic Products Notification Portal (CPNP) then you should submit the European notification before notifying the UK government.
          </p>
          <p>
            <a href="#">How to download a CPNP notification file.</a>
          </p>

          <p>
            UK Responsible Persons can also provide notification information manually. You will need:
          </p>
          <ul class="govuk-list govuk-list--bullet">
            <li>the cosmetic name</li>
            <li><a href="#">the ingredients and their concentration</a></li>
            <li><a href="#">an image of the cosmetic label</a></li>
            <li><a href="#">a photo of the cosmetic packaging</a></li>
          </ul>

          <h3 class="govuk-heading-m">Cosmetics containing nanomaterials</h1>
          <p>
            If a cosmetic contains nanomaterials not already explicitly approved for use in cosmetics, the Responsible Person must notify the UK government of their proposed use 6 months before the cosmetic containing them goes on sale. 
          </p>
          <p>
            Intended use of nanomaterials that has already been notified to the European Commission does not need to be notified to the UK government, as long as a UK Responsible Person provides evidence of this notification within 60 days of the UK leaving the European Union.
          </p>
          <p>
            Cosmetics containing nanomaterials not already explicitly approved for use may go on sale in the UK no sooner than 7 months after the date of notification to the European Commission if this occurred before the UK left the EU, or 6 months after the date of notification to the UK government.
          </p>
          <p>
            <a href="#">Read about using nanomaterials in cosmetics.</a>
          </p>

          <a href="/cosmetics/account/login" role="button" draggable="false" class="govuk-button govuk-button--start">
            Start now
          </a>
        </div>
      </div>
  
    </main>
  </div>

{% endblock %}