{% extends "layout.html" %}




{% block header %}
{% include "includes/cookie-banner.html" %}
{# Set serviceName in config.js. #}
{{ govukHeader({
    homepageUrl: "/",
    serviceName: serviceName,
    serviceUrl: "/cosmetics",
    containerClasses: "govuk-width-container"
}) }}
{% from "phase-banner/macro.njk" import govukPhaseBanner %}
<div class="app-masthead">
	<div class="govuk-width-container app-site-width-container">
		<div class="govuk-grid-row">
			<div class="govuk-grid-column-full">
				{{ govukPhaseBanner({
                    tag: {
                    text: "prototype"
				},
				    html: 'This app is a prototype - it will not store any data entered by users'
				}) }}
			</div>
			<div class="govuk-grid-column-two-thirds">
				<h1 class="govuk-heading-xl app-masthead__title">Submit cosmetic product notifications</h1>
        <div class='masthead-account-links'>
          <a href="/cosmetics/account/create-account" role="button" draggable="false" class="govuk-button banner-button">
              Create an account
          </a>
          <p>
            or <a href='/cosmetics/account/login' class='banner-link'>sign in</a> if you have used this service before
          </p>
        </div>
			</div>
		</div>
	</div>
</div>
</div>
{% endblock %}

{% block content %}
<div class="govuk-grid-row">

	<div class="govuk-grid-column-two-thirds">
        <h2 class='govuk-heading-m'>
            Submit notifications for cosmetic products to be sold or given away in the UK
        </h2>
        <p>
            For safety, all cosmetic products available in the UK must have a notification with details of the product submitted and the responsible person.
        </p> 

        <p>
            Since the UK left the European Union (EU), all cosmetic products on sale or given away in the UK need to be notified in the UK. The process for new products and products that had been notified in the EU before Brexit and new cosmetic is the same, but you need to provide less information for products notified before Brexit. You do not have to submit notifications for cosmetic products discontinued before <span class='no-wrap'>29 March 2019</span>.
        </p>
        <h3 class="govuk-heading-m">
            New cosmetic product notifications in the UK
        </h3>
        <p class='govuk-!-margin-bottom-1'>
            To submit a new cosmetic product notification you need to give details of:
        </p>
        <ul class='govuk-list govuk-list--bullet'>
            <li>the organisation or individual responsible for ensuring regulations are followed, known as the ‘responsible person’</li>
            <li>a contact person to give information about the cosmetic products to the national poison information service or market surveillance authorities</li> 
            <li>the name of the cosmetic product</li> 
            <li>if applicable, the shades in which the cosmetic product is available</li>
            <li>
                whether or not the cosmetic product contains carcinogenic, mutagenic or toxic for reproduction (CMR) substances
            </li>
            <li>
                whether or not the cosmetic product contains nanomaterials
            </li>
            <li>the formulation as either a frame formulation, ranges, or exact concentrations</li>
            <li>an image of the label</li>
        </ul>
        <h3 class="govuk-heading-m">
            Cosmetic products notified in the EU before <span class='no-wrap'>29 March 2019</span>
        </h3>
        <p>
            To continue to sell or give away cosmetic products that were notified in the EU before Brexit, you must submit your product notifications in the UK within 90 days of the UK leaving the EU – that is by 11pm on <span class='no-wrap'>27 June 2019</span>.
        </p>
        <p class='govuk-!-margin-bottom-1'>
            You need to same details as a new cosmetic product notification, but you do not need to provide:
        </p>
        <ul class='govuk-list govuk-list--bullet'>
            <li>
                whether or not the cosmetic product contains carcinogenic, mutagenic or toxic for reproduction (CMR) substances
            </li>
            <li>
                whether or not the cosmetic product contains nanomaterials
            </li>
            <li>an image of the label</li>
        </ul>
        <h3 class="govuk-heading-m">
            How to submit cosmetic product notifications in the UK
        </h3>
        <p>
            
        </p>
        <h4 class='govuk-heading-s'>
            Cosmetic products notified in the EU
        </h4>
        <p>
            The EU Cosmetic Product Notification Portal (CPNP) allows you to export ZIP files containing XML files for each notification.
        </p>
        <p>
            You can upload notification files only as ZIP files containing XML files on the UK cosmetic product notification service.
        </p> 
        <p class='govuk-!-margin-bottom-1'>
           To use the data from your EU notifications for UK notifications you need to:
        </p>
        <ul class='govuk-list govuk-list--bullet'>
            <li>
                <strong>export</strong> your data as ZIP files for all cosmetic products
            </li>
            <li>
                upload your ZIP file containing XML files to the UK notification service
            </li>
            <li>
                if the original EU notification file has the formulation as an attached document, you will also need add this
            </li>
        </ul>
        <h4 class='govuk-heading-s'>
            Cosmetic products that have not been notified in the EU
        </h4>
        <p>
            You can submit a cosmetic product notification by manually entering information about the product.
        </p>
        <h4 class="govuk-heading-s">Cosmetics products containing nanomaterials</h4>
        <p>
            If a cosmetic product contains nanomaterials not already approved for use in cosmetic products, the
            responsible person must notify their proposed use 6 months before the cosmetic product
            containing them goes on sale or is given away.
        </p>
        <p class='govuk-!-margin-bottom-7'>
            <a href="#">Read about using nanomaterials in cosmetics</a>
        </p>

        {# <a href="/cosmetics/account/login" role="button" draggable="false" class="govuk-button govuk-button--start">
            Start now
        </a> #}
	</div>
</div>
{% endblock %}
