{% extends "layout.html" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/cosmetics/landing-page">Back</a>
{% endblock %}

{% block content %}
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Has this cosmetic product notification been submitted on the EU Cosmetic Products Notification Portal (CPNP)?</h1>
            <p>
                To make submitting notifications in the UK simpler, you can use files from CPNP once you have submitted a notification in the EU.
            </p>
            {% from "radio-route.html" import radioRoute %}
            {{
                radioRoute({
                    options: [
                        {
                            text: "Yes",
                            value: "yes",
                            route: "/cosmetics/import/check-access-to-file"
                        },
                        {
                            text: "No, but this product notification will be submitted on CPNP",
                            value: "planned",
                            route: "/cosmetics/import/cpnp-advice"
                        },
                        {
                            text: "No, this product will not be sold or given away in the EU",
                            value: "no",
                            route: "/cosmetics/manual/was-product-on-sale-before-eu-exit"
                        }
                    ],
                    name: "notified-to-eu"
                })
            }}
            {% from "radios/macro.njk" import govukRadios %}
        </div>
    </div>
{% endblock %}
