{% extends "layout.html" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="javascript:history.go(-1)">Back</a>
{% endblock %}

{% block content %}
<div class="govuk-width-container">  
    <main class="govuk-main-wrapper">  
        <div class="govuk-grid-row">
            <div class="govuk-grid-column-two-thirds">
                <h1 class="govuk-heading-xl">Notify cosmetics</h1>

                <h2 class="govuk-heading-m">Cosmetics notified to the European Commission before the UK left the European Union</h2>
                <p>
                    If a cosmetic was notified to the European Commission before the UK left the European Union, it can only continue to be sold in the UK if information about a new UK-based Responsible Person is provided within 60 days of the UK leaving the European Union.
                </p>
                <p>
                    <a href='/cosmetics/claim-existing/which-responsible-person' class="govuk-!-font-weight-bold govuk-link--no-visited-state">
                        Take responsibility for cosmetics notified to the EU before 29 March 2019
                    </a>
                </p>

                <h2 class="govuk-heading-m">New cosmetics on sale in the UK since the UK left the European Union</h2>
                <p>
                    You can use the files from a notification to the European Commission made on the CPNP to make UK notification simpler. <a href="#">Find out how to get cosmetic product files from CPNP</a>.
                </p>
                <p>
                    <a href='/cosmetics/intending-to-sell-in-eu' class="govuk-!-font-weight-bold govuk-link--no-visited-state">
                        Notify a new cosmetic product
                    </a>
                </p>

                <h2 class="govuk-heading-m">Responsible person</h2>
                <p>
                    <a href="/cosmetics/responsible-person/view" class="govuk-!-font-weight-bold govuk-link--no-visited-state">View Responsible Person details</a>
                </p>
            </div>
        </div>
    </main>
</div>

{% endblock %}