{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-width-container">  
    <main class="govuk-main-wrapper">  
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Manual data entry placeholder</h1>
            
            <p>
                This is a placeholder for the web form that will allow users to manually entering cosmetics product data.
            </p>
        </div>
    </div>

</main>
</div>

{% endblock %}