{% extends "layout.html" %}

{% block pageTitle %}
  GOV.UK Prototype Kit
{% endblock %}

{% block content %}
<div class="govuk-width-container">  
    <main class="govuk-main-wrapper">  
      <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <h1 class="govuk-heading-xl">Name of the responsible organisation or person</h1>

            <p>
                If you’re adding an organisation, it must be a UK registered company.
            </p>

            <p>
                If you’re adding a person, they must have a UK address.
            </p>

            {% from "input/macro.njk" import govukInput %}

            {{ govukInput({
            id: "responsible-person-name",
            name: "responsible-person-name"
            }) }}

            {{ govukButton({
                text: "Continue",
                href: "/cosmetics/responsible-person-address"
            }) }}
        </div>
    </div>

</main>
</div>

{% endblock %}