{% extends "layout.html" %}

{% block beforeContent %}
  <a class="govuk-back-link" href="/cosmetics/landing-page">Back</a>
{% endblock %}

{% block content %}
<script src="/public/javascripts/radio-route.js"></script>
    <div class="govuk-grid-row">
        <div class="govuk-grid-column-two-thirds">
            <form id="route-form" action="/radio-route" method="post" onsubmit="routeToRadioChoice(event)">
                <h1 class="govuk-heading-xl">Who is the contact person for the cosmetic products?</h1>
                <div class="govuk-form-group">
                    <fieldset class="govuk-fieldset" aria-describedby="changed-name-hint">
                        <div class="govuk-radios">
                            <div class="govuk-radios__item">
                                <input 
                                    class="govuk-radios__input" 
                                    id="which-contact-person-1" 
                                    name="which-contact-person" 
                                    type="radio" 
                                    value="1"
                                    data-route="/cosmetics/import/check-cpnp">
                                <label class="govuk-label govuk-radios__label" for="where-do-you-live-1">
                                    {% from "dataWithDefault.html" import dataWithDefault %}
                                    {{ dataWithDefault({
                                        value: data['contact-person-name'],
                                        default: 'Example contact person'
                                    })}}
                                </label>
                            </div>
                            <div class="govuk-radios__item">
                                <input 
                                    class="govuk-radios__input" 
                                    id="which-rp-new" 
                                    name="which-contact-person" 
                                    type="radio" 
                                    value="new"
                                    data-route="/cosmetics/responsible-person/contact-person">
                                <label class="govuk-label govuk-radios__label" for="where-do-you-live-1">
                                    A different contact person
                                </label>
                            </div>
                        </div>
                    </fieldset>
                </div>

                {{ govukButton({
                    text: "Continue"
                }) }}
            </form>
        </div>
    </div>
{% endblock %}