{% macro componentTitle(options) %}
    {% if (options.isMultiComponent == 'multi') and (options.componentList|length) %}
        <h1 class='govuk-heading-xl'>
            {{ 
                options.componentTitle
                    .replace(
                        '{{component}}', 
                        options.componentList[0]) 
            }}
        </h1>
    {% else %}
        <h1 class='govuk-heading-xl'>
            {{ options.title }}
        </h1>
    {% endif %}
{% endmacro %}