{% macro expandingList(options) %}
    {% from "input/macro.njk" import govukInput %}

    {{ options["listEntryHtml"] | safe }}
    {% from "button/macro.njk" import govukButton %}
    {{ govukButton({
        text: "Remove",
        href: "#"
    }) }}

    {{ options["listEntryHtml"] | safe }}
    {% from "button/macro.njk" import govukButton %}
    {{ govukButton({
        text: "Remove",
        href: "#"
    }) }}

    {% if another %}
        {{ expandingList({
            another: false
        }) }}
    {% else %}
        <br />
        {% from "button/macro.njk" import govukButton %}
        {{ govukButton({
            text: "Add another"
        }) }}
    {% endif %}
{% endmacro %}