{% macro expandingList(options) %}
    {% from "input/macro.njk" import govukInput %}

    <script src="/public/javascripts/expanding-list.js"></script>

    <div id="expanding-list">
        <div class="list-entry">
            {{ options["listEntryHtml"] | safe }}
            {% from "button/macro.njk" import govukButton %}
            <button style="display: none" onClick="remove(event)" class="govuk-button secondary-button">
                Remove
            </button>
        </div>
    </div>
    <br />
    <button onClick="addAnother()" class="govuk-button secondary-button" type=button>
        Add another
    </button>
{% endmacro %}